@{
    ViewData["Title"] = "Exemple d'id";
}

<h1>Passage d'un id via la route @ViewData["IdData"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla massa tortor, ultricies et facilisis eu, mollis id ante. Nulla facilisi. Aliquam tellus nisi, elementum in consequat eu, interdum et orci. Nulla eget iaculis libero. Suspendisse bibendum mi nec ligula tincidunt dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc lectus turpis, feugiat nec venenatis vel, dictum sit amet neque. Aliquam sit amet sagittis mauris. Duis tincidunt mi ut magna congue pretium. Nulla facilisi. Sed sit amet sodales justo. Phasellus ac sodales dui. Mauris maximus turpis et mauris gravida faucibus.</p>
