@{
    // ↓ Injection du title dans le layout
    ViewData["Title"] = "Exemple redirection";
}

<h1>Exemple de redirection</h1>

<h2>Contenu du ViewData</h2>
<p>Valeur : @ViewData["ExempleRedirection"]</p>

<h2>Contenu du TempData</h2>
<p>Valeur : @TempData["Message"]</p>